main {
	padding-bottom: 0;
}

.tab_menu li {
	float:left;
	margin-right:10px;
	border-radius:5px 5px 0 0;
	box-shadow: 0 0 5px 0px rgba(0,0,0,0.3);
	width: 32%;
}

.tab_menu li a{
	font-size:88%;
	display:block;
	border-radius:5px 5px 0 0;
	width: 100%;
	text-align: center;
}

.tab_content{
	clear:both;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-top:1px solid #cfcfcf;
}

.tab_content section {
	margin-bottom: 20px;
}

.basePoint td{
	width: 3.5em;
}

.basePointInput, .pointInput {
	width:100%;
	max-width: 6em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

table.maxAssessment {
	margin-left: 0.5em;
}

.maxAssessment td:last-child {
	width:3em;
}

table {
	max-width:100%;
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-all;
}

table.basePoint {
	margin-left: 10px;
}

tr.baseRank > td  {
	height: 2.5em;
}

.addAbility {
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-radius: 10px;
	margin-left: 0.5em;
}

.addAbility:before {
	font-family: FontAwesome;
	content: '\f090';
	margin-right: 0.2em;
}

tr.baseRank > td {
	background-size:contain;
	background-repeat: no-repeat;
	background-position:center;
}

/*基礎値のアイコン*/
tr.baseRank > td.rankG {background-image:url(../img/rankG.png);}
tr.baseRank > td.rankF {background-image:url(../img/rankF.png);}
tr.baseRank > td.rankE {background-image:url(../img/rankE.png);}
tr.baseRank > td.rankD {background-image:url(../img/rankD.png);}
tr.baseRank > td.rankC {background-image:url(../img/rankC.png);}
tr.baseRank > td.rankB {background-image:url(../img/rankB.png);}
tr.baseRank > td.rankA {background-image:url(../img/rankA.png);}
tr.baseRank > td.rankS {background-image:url(../img/rankS.png);}
tr.baseRank > td.trajectory1 {background-image:url(../img/trajectory1.png);}
tr.baseRank > td.trajectory2 {background-image:url(../img/trajectory2.png);}
tr.baseRank > td.trajectory3 {background-image:url(../img/trajectory3.png);}
tr.baseRank > td.trajectory4 {background-image:url(../img/trajectory4.png);}

.block-grid {
	width: auto;
	overflow: hidden;
	list-style: none;
	margin: 0 -1% 0px auto;
	padding: 0;
}

.block-grid li {
	float: left;
	margin: 0 1% 5px;
	padding: 0;
	display: block;
}

.block-grid a {
	text-decoration: none;
	color:#444444;
}

@media screen and (min-width: 0px) {
	.block-grid-1-2-3 li {
		width: 90%;
	}
}
@media screen and (min-width: 320px) {
	.block-grid-1-2-3 li {
		width: 48%;
	}
}
@media screen and (min-width: 480px){
	.block-grid-1-2-3 li {
		width: 31.3333%;
	}
}

@media screen and (min-width: 640px){
	.block-grid-1-2-3 li {
		width: 23%;
	}
}

.visibleDisplay {
	display: inline;
}

.slider {
	margin-bottom: 20px;
}

.slider .ui-slider-handle {
	border-radius: 10px;
}

.ui-slider-horizontal {
	height: 0.3em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.5em;
	margin-left: -.6em;
}

.baseTrickBar .ui-slider-wrapper,
.changeBallTrickBar .ui-slider-wrapper {
	width:80% !important;
	height:2.5em;
	margin-left: 10px;
}

.baseTrickBar,
.changeBallTrickBar {
	margin:5px 0 0 30px;
}

.baseTrickBar .ui-slider-labels,
.changeBallTrickBar .ui-slider-labels{
	font-size:0.7em;
}

table.baseTrickTable,
table.changeBallTrickTable{
	width:80%;
	margin-left: 20px;
}

td.baseTrickTitle,
td.changeBallTrickTitle{
	width: 3.5em;
}

td.baseTrickBar,
td.changeBallTrickBar {
	padding-top: 20px;
}

.abSelectHeader {
	display: flex;
	height: 25px;
	background:#000;
	color:#fff;
	font-weight: bold;
}

.abSelectHeader > div:nth-child(2) {
	flex-grow: 1;
	display: flex;
	height: 100%;
	-webkit-justify-content: center;
	justify-content: center;
	align-items: center;
}

.abSelectHeader > div:nth-child(4),
.abSelectHeader > div:nth-child(5),
.abSelectHeader > div:nth-child(6)
{
	display:flex;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.abSelectHeader > div:nth-child(4) {
	color:#0ff;
}

.abSelectHeader > div:nth-child(5) {
	color:#ff0;
}

.abSelectHeader > div:nth-child(6) {
	color:#ff4fe8;
}

.abilityButtonList,
.otherAbilityList {
	list-style:none;
	padding: 0;
}

.abilityButtonList li,
.otherAbilityList li {
	display:flex;
	height: 40px;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-khtml-touch-callout: none;
}

.abilityButtonList li > div:nth-child(1),
.abilityButtonList li > div:nth-child(3),
.otherAbilityList li > div:nth-child(1),
.otherAbilityList li > div:nth-child(3),
.abSelectHeader > div:nth-child(1),
.abSelectHeader > div:nth-child(3)
{
	width: 30px;
	min-width: 30px;
	height: 100%;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	position: relative;
}


.abilityButtonList li > div:nth-child(2),
.otherAbilityList .abName
{
	flex-grow: 1;
	display: flex;
	height: 100%;
	-webkit-justify-content: center;
	justify-content: center;
	align-items: center;
	border: 1px solid #aaa;
	border-radius: 8px;
}

.abilityButtonList li > div:nth-child(4),
.abilityButtonList li > div:nth-child(5),
.abilityButtonList li > div:nth-child(6),
.otherAbilityList li > div:nth-child(4),
.otherAbilityList li > div:nth-child(5),
.abSelectHeader > div:nth-child(4),
.abSelectHeader > div:nth-child(5),
.abSelectHeader > div:nth-child(6)
{
	min-width: 40px;
	width: 40px;
	position: relative;
}

.abName {
	background: #eee;
}


.abilityButtonList button {
	width: 100%;
	height: 100%;
}

.abTrickLevel {
	background-color: #b0f5ff;
}

.SabTrickLevel {
	background-color: #fcffb0;
}

.RabTrickLevel {
	background-color:#f07df0;
}

.otherAbilityList li,
.otherAbilityList li div {
	width: 100%;
}

.otherAbilityList li button {
	width: 100%;
	height: 100%;
	border: 1px solid #aaa;
	border-radius: 8px;
}

.pmButton {
	width: 30px;
	height: 25px;
}

.pmButton:before {
	content: '';
	width: 21.213px;
	height: 21.213px;
	display: block;
	transform: rotate(45deg);
	position: absolute;
}

.pmButton:after {
	font-family: FontAwesome;
	color: #fff;
	font-size: 26px;
	position: absolute;
	text-shadow:
		1px 1px #000,
		1px -1px #000,
		-1px 1px #000,
		-1px -1px #000;
}

.plusButton:before {
	top: 4.5px;
	left: 4.5px;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	background: #f00;
	background: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 241, color-stop(1.00, #f00), color-stop(0.70, #f6441c), color-stop(0.00, #fb9983));
	background: -webkit-radial-gradient(0% 0%, circle, #fb9983 0%, #f6441c 70%, #f00 100%);
	background: -moz-radial-gradient(0% 0%, circle, #fb9983 0%, #f6441c 70%, #f00 100%);
	background: -o-radial-gradient(0% 0%, circle, #fb9983 0%, #f6441c 70%, #f00 100%);
	background: -ms-radial-gradient(0% 0%, circle, #fb9983 0%, #f6441c 70%, #f00 100%);
	background: radial-gradient(0% 0%, circle, #fb9983 0%, #f6441c 70%, #f00 100%);
}

.plusButton {
	margin-top: 15px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background: #f00;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #f00), color-stop(0.00, #f6441c));
	background: -webkit-linear-gradient(#f6441c, #f00);
	background: -moz-linear-gradient(#f6441c, #f00);
	background: -o-linear-gradient(#f6441c, #f00);
	background: -ms-linear-gradient(#f6441c, #f00);
	background: linear-gradient(#f6441c, #f00);
}

.plusButton:after {
	content: '\f067';
	top: 6px;
	left: 4.7px;
}

.minusButton:before {
	top: 14.5px;
	right: 4.5px;
	background: #0f0;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	background: -webkit-gradient(radial, 100% 100%, 0, 100% 100%, 241, color-stop(1.00, #ccffd3), color-stop(0.65, #0f0), color-stop(0.00, #029216));
	background: -webkit-radial-gradient(100% 100%, circle, #029216 0%, #0f0 65%, #ccffd3 100%);
	background: -moz-radial-gradient(100% 100%, circle, #029216 0%, #0f0 65%, #ccffd3 100%);
	background: -o-radial-gradient(100% 100%, circle, #029216 0%, #0f0 65%, #ccffd3 100%);
	background: -ms-radial-gradient(100% 100%, circle, #029216 0%, #0f0 65%, #ccffd3 100%);
	background: radial-gradient(100% 100%, circle, #029216 0%, #0f0 65%, #ccffd3 100%);
}

.minusButton {
	margin-top: 0px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: #0f0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #0f0), color-stop(0.00, #ccffd3));
	background: -webkit-linear-gradient(#ccffd3, #0f0);
	background: -moz-linear-gradient(#ccffd3, #0f0);
	background: -o-linear-gradient(#ccffd3, #0f0);
	background: -ms-linear-gradient(#ccffd3, #0f0);
	background: linear-gradient(#ccffd3, #0f0);
}


.minusButton:after {
	content: '\f068';
	top: -1px;
	right: 5px;
}

a.buttonAct {
	display: flex;
	width: 50px;
	height: 100%;
	position: absolute;
	text-decoration: none;
	cursor: pointer;
}

.plusButtonArea > a.buttonAct {
	justify-content: flex-start;
	right: -20px;
}

.minusButtonArea > a.buttonAct {
	justify-content: flex-end;
	left: -20px;
}

ul.abilityDisplay, ul.subPositionList {
	display: flex;
	flex-wrap: wrap;
	list-style:none;
	padding-left: 10px;
	position: relative;
}

ul.abilityDisplay li, ul.subPositionList li {
	border:1px solid #bbb;
	background-color:#ddd;
	color:#999;
	border-radius:20px;
	margin-bottom:10px;
	margin-right:10px;
	padding:0.3em 1em;
	position: relative;
	cursor: pointer;
}

ul.subPositionList li {
	text-decoration: none;
	box-shadow: 1px 1px 2px;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-khtml-touch-callout: none;
}

.nonSelectAbility a {
	color:#bbbbbb;
}

li.selectedAbility, #abilityCharaData li.selectedAbility, div.abColor, .selectedSense.senseM {
	background: -webkit-gradient(radial, 0% 50%, 0, 0% 54%, 225, color-stop(1.00, #5cebff), color-stop(0.55, #c9edf7), color-stop(0.00, #5cebff));
	background: -webkit-radial-gradient(0% 50%, circle, #5cebff 0%, #c9edf7 55%, #5cebff 100%);
	background: -ms-radial-gradient(0% 50%, circle, #5cebff 0%, #c9edf7 55%, #5cebff 100%);
	background: radial-gradient(0% 50%, circle, #5cebff 0%, #c9edf7 55%, #5cebff 100%);
	background-color: #5cebff;
	color:#000000 !important;
}

li.selectedBAbility, #abilityCharaData li.selectedBAbility, div.BAbColor, .selectedSense.senseB {
	background: -webkit-gradient(radial, 0% 50%, 0, 0% 50%, 241, color-stop(1.00, #ff5047), color-stop(0.51, #f9c3c2), color-stop(0.01, #ff5047));
	background: -webkit-radial-gradient(0% 50%, circle, #ff5047 1%, #f9c3c2 51%, #ff5047 100%);
	background: -ms-radial-gradient(0% 50%, circle, #ff5047 0%, #f9c3c2 55%, #ff5047 100%);
	background: radial-gradient(0% 50%, circle, #ff5047 1%, #f9c3c2 51%, #ff5047 100%);
	background-color: #ff5047;
	color:#000000 !important;
}


li.selectedSAbility, #abilityCharaData li.selectedSAbility, div.SAbColor {
	background: -webkit-gradient(radial, 0% 50%, 0, 0% 50%, 241, color-stop(1.00, #faea00), color-stop(0.52, #fffee0), color-stop(0.01, #faea00));
	background: -webkit-radial-gradient(0% 50%, circle, #faea00 1%, #fffee0 52%, #faea00 100%);
	background: -ms-radial-gradient(0% 50%, circle, #faea00 1%, #fffee0 52%, #faea00 100%);
	background: radial-gradient(0% 50%, circle, #faea00 1%, #fffee0 52%, #faea00 100%);
	background-color: #faea00;
	color:#000000 !important;
}

li.selectedPAbility, #abilityCharaData li.selectedPAbility, div.PAbColor {
	background: -webkit-gradient(radial, 0% 50%, 0, 0% 50%, 241, color-stop(1.00, #fa0b00), color-stop(0.51, #f89d9b), color-stop(0.01, #fa0b00));
	background: -webkit-radial-gradient(0% 50%, circle, #fa0b00 1%, #f89d9b 51%, #fa0b00 100%);
	background: -ms-radial-gradient(0% 50%, circle, #fa0b00 1%, #f89d9b 51%, #fa0b00 100%);
	background: radial-gradient(0% 50%, circle, #fa0b00 1%, #f89d9b 51%, #fa0b00 100%);
	background-color: #fa0b00;
	color:#000000 !important;

}

li.selectedHAbility, #abilityCharaData li.selectedHAbility, div.HAbColor {
	background: -webkit-gradient(radial, 0% 50%, 0, 0% 50%, 241, color-stop(1.00, #ff5047), color-stop(0.70, #ffa8a3), color-stop(0.30, #a3f4ff), color-stop(0.01, #5cebff));
	background: -webkit-radial-gradient(0% 50%, circle, #5cebff 1%, #a3f4ff 30%, #ffa8a3 70%, #ff5047 100%);
	background: -ms-radial-gradient(0% 50%, circle, #5cebff 1%, #a3f4ff 30%, #ffa8a3 70%, #ff5047 100%);
	background: radial-gradient(0% 50%, circle, #5cebff 1%, #a3f4ff 30%, #ffa8a3 70%, #ff5047 100%);
	background-color: #5cebff;
	color:#000000 !important;
}


li.selectedGAbility, #abilityCharaData li.selectedGAbility, div.GAbColor {
	background: -webkit-gradient(radial, 0% 50%, 0, 0% 50%, 241, color-stop(1.00, #52ff42), color-stop(0.50, #cbfbad), color-stop(0.00, #52ff42));
	background: -webkit-radial-gradient(0% 50%, circle, #52ff42 0%, #cbfbad 50%, #52ff42 100%);
	background: -ms-radial-gradient(0% 50%, circle, #52ff42 0%, #cbfbad 50%, #52ff42 100%);
	background: radial-gradient(0% 50%, circle, #52ff42 0%, #cbfbad 50%, #52ff42 100%);
	background-color: #52ff42;
	color:#000000 !important;
}

li.selectedRAbility, #abilityCharaData li.selectedRAbility, div.RAbColor {
	background : linear-gradient(60deg, 
								 #ff4040,
								 #fdb93b,
								 #f8f837,
								 #4bf14b,
								 #3cffff,
								 #3191eb,
								 #e755e7);
	background-color:#f07df0;
	color:#000000 !important;
}


.subPositionList li.infield {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #FDCC17), color-stop(0.50, #FDCC17), color-stop(0.50, #FDE47D), color-stop(0.00, #FDE47D));
	background: -webkit-linear-gradient(top, #FDE47D 0%, #FDE47D 50%, #FDCC17 50%, #FDCC17 100%);
	background: -ms-linear-gradient(top, #FDE47D 0%, #FDE47D 50%, #FDCC17 50%, #FDCC17 100%);
	color:#000000 !important;
}


.subPositionList li.outfield {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #13E309), color-stop(0.50, #13E309), color-stop(0.50, #99FBA6), color-stop(0.00, #99FBA6));
	background: -webkit-linear-gradient(top, #99FBA6 0%, #99FBA6 50%, #13E309 50%, #13E309 100%);
	background: -ms-linear-gradient(top, #99FBA6 0%, #99FBA6 50%, #13E309 50%, #13E309 100%);
	color:#000000 !important;
}


.subPositionList li.catcher {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #0AB8FD), color-stop(0.50, #0AB8FD), color-stop(0.50, #0AB8FD), color-stop(0.00, #76E4FF));
	background: -webkit-linear-gradient(top, #76E4FF 0%, #0AB8FD 50%, #0AB8FD 50%, #0AB8FD 100%);
	background: -ms-linear-gradient(top, #76E4FF 0%, #0AB8FD 50%, #0AB8FD 50%, #0AB8FD 100%);
	color:#000000 !important;
}



.subPositionList li.pitcher {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #FE6869), color-stop(0.65, #FE6869), color-stop(0.65, #FE6869), color-stop(0.00, #FFACA8));
	background: -webkit-linear-gradient(top, #FFACA8 0%, #FE6869 65%, #FE6869 65%, #FE6869 100%);
	background: -ms-linear-gradient(top, #FFACA8 0%, #FE6869 65%, #FE6869 65%, #FE6869 100%);
	color:#000000 !important;
}

#tab2 .changeTypeStr {
	position: absolute;
	width:0.5em;
	top:-5px;
	right:7px;
	color:#ff0000;
	font-weight: bold;
	font-family: 'HGP創英角ﾎﾟｯﾌﾟ体';
}

.changeIcon {
	right:5px;
	display: inline;
}

.baseTrickBar, .changeBallTrickBar {
	width:80%;
}

.senseButtonList {
	padding:0;
	margin-left:20px;
}

.senseButtonList li {
	display:inline;
	list-style-type:none;
}

.senseButtonList label {
	display:inline-block;
	font-size:1.1em;
	padding:0.3em 0.5em;
	background-color:#ddd;
	color:#999;
	border:2px solid #bbb;
	border-radius:20px;
	box-shadow:inset 1px 1px 5px #fff;
	cursor:pointer;
}

.senseButtonList label input {
	display:none;
}

#abilityCharaData {
	display: flex;
	flex-wrap: wrap;
	padding:0;
	margin-left:10px;
}

#abilityCharaData li {
	list-style-type:none;
	font-size:0.9em;
	padding:0.3em 0.6em;
	margin-bottom: 0.5em;
	margin-right:0.8em;
	border:2px solid #bbb;
	border-radius:20px;
	box-shadow:inset 1px 1px 5px #fff;
}

.needExp {
	margin-left:0.5em;
}
.needExp td {
	height: 1.5em;

}

section#charaBaseData > div {
	margin-left: 10px;
	margin-bottom: 0.8em;
}

input#charaName {
	margin-left: 5px;
	max-width: 16em;
	width: 80%;
}


select#mainPosition {
	margin-left: 10px;
}

button.exec {
	margin-left: 0.5em;
	border-radius:5px 5px 5px 5px;
	border:1px solid #999;
	font-size: 1.1em;
	box-shadow: 1px 1px 1px;
}

button.calcExp:before {
	content: '\f1ec';
	font-family: FontAwesome;
}


button.calcMax:before {
	content: '\f005';
	font-family: FontAwesome;
}


button.save:before {
	content: '\f0c7';
	font-family: FontAwesome;
}

div.modalButton {
	margin-top: 1.5em;
}

@media screen and (max-width: 480px) {
	#abilityList {
		padding: 0;
	}

	.remodal {
		padding-left: 20px;
		padding-right: 20px;
	}
}

#abilityList {
	max-width: 420px;
	margin: auto;
}

#charaDataDisplay {
	max-width: 600px;
	background-color: #fff;
}

.charaFace {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 82px;
	max-height: 82px;
	border: solid 1px #aaa;
}

div.imgBorder {
	width: 82px;
	height: 82px;
	position: relative;
}

.upLabel {
	cursor: pointer;
}

#abilityModal {
	max-width: 580px;
}

div#abilityModal div.groupHeader{
	text-align: left;
	margin-top: 1em;
}

.abilityCount {
	padding-left: 1em;
	width:3em;
	font-size: 1.5em;
	font-style: italic;
	color:#fff03b;
	text-shadow:
		-1px 0px #000,
		0px -1px #000,
		1px 0px #000,
		0px 1px #000;
}

.optionChkArea {
	padding-left: 0.5em;
}

.shareLinkHeader {
	margin-left: 0.5em;
}

.shareLinkBody {
	margin-left: 1em;
	word-wrap: break-word;
}

.assessmentArea {
	display: flex;
	align-items: center;
}

.meterFrame {
	width: 4em;
	height: 1em;
	border: 2px solid #aaa;
	margin-left: 0.2em;
}

.meterGauge {
	width: 0;
	height: 100%;
	background: -webkit-gradient(radial, 0% 56%, 0, 0% 56%, 241, color-stop(1.00, #ff4420), color-stop(0.27, #ffe552));
	background: -webkit-radial-gradient(0% 56%, circle, #ffe552 27%, #ff4420 100%);
	background: -moz-radial-gradient(0% 56%, circle, #ffe552 27%, #ff4420 100%);
	background: -o-radial-gradient(0% 56%, circle, #ffe552 27%, #ff4420 100%);
	background: -ms-radial-gradient(0% 56%, circle, #ffe552 27%, #ff4420 100%);
	background: radial-gradient(0% 56%, circle, #ffe552 27%, #ff4420 100%);
}

.dispBaseAb {
	width: 1.8em;
}

.dispBaseAbT {
	width: 1.6em;
}

.dispAbArea {
	position: relative;

}

.dispAbNum {
	position: absolute;
	right: 0;
	margin-top: 0.6em;
	font-weight: bold;
	text-shadow:
		-1px 0px #fff,
		0px -1px #fff,
		1px 0px #fff,
		0px 1px #fff;
	opacity: 0.8;
}

.baseLimitBreakArea > div {
	margin: 1em 0.5em;
}

.abTrickLevel, .SabTrickLevel, .RabTrickLevel {
	width: 40px;
	height: 30px;
	border-radius: 5px;
}

.abTrickLevel:after, .SabTrickLevel:after, .RabTrickLevel:after {
	content: '▼';
	font-size: 40%;
	position: absolute;
	top: 35%;
	color: #555;
}

.abTrickLevel:disabled {
	background-color: #99ced6;
}

.SabTrickLevel:disabled {
	background-color: #dbd8ab;
}

.RabTrickLevel:disabled {
	background-color: #854681;
}

#trickDropdown {
	display: none;
	flex-direction: column;
	width: 50px;
	height: 200px;
	box-shadow: 2px 2px 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	position: absolute;
	z-index: 999;
	-webkit-animation: fadeIn 0.3s ease 0s 1 forwards;
	animation: fadeIn 0.3s ease 0s 1 forwards;
	opacity: 0;
}

.normalAbility {
	background-color: #a8feff;
}

.normalAbility > div:hover,
.normalAbility > div:active {
	background-color: #5cebff;
}

.specialAbility {
	background-color: #ffb;
}

.specialAbility > div:hover,
.specialAbility > div:active {
	background-color: #faea00;
}

.rainbowAbility {
	background-color: #f07df0;
}

.rainbowAbility > div:hover,
.rainbowAbility > div:active {
	background-color: #fd5bf5;
}


#trickDropdown div {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
