
.modern tr > td:first-child {
	background-color: bisque;
	min-width: 2em;
}


.modern tr > td:not(:first-child) {
	text-align: right;
}

.modern tr:nth-child(10n+1) {
	border-bottom:solid 2px #000;
}

.pageSummary {
	margin-left: 0.5em;
	max-width: 90%;
}

.modern th {
	word-break: keep-all;
}
