.eveCharaTable tr {
    height: 38px;
}


.eveCharaTable tr > th:nth-child(1) {
    width: 40px;
}

.charaType {
    height: 38px;
    width: 100px;
}

.noneDisp {
    display: none;
}

.secHeader {
    margin-left: 1em;
    margin-bottom: 0.5em;
}

.secMain {
    margin-left: 2em;
}

section {
    margin-bottom: 1em;
}

.redColor {
    color: #f00;
}

.eveCharaTable td img {
    width: 52px;
    height: 52px;
}

#practiceModal {
    max-width: 520px;
}

.choicePraItems {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

.choicePraItems li {
    margin: 10px 5px;
}

.choicePraItems img{
    width: 60px;
    height: 60px;
}

.allReset {
    margin-left: 1em;
}


.dispList {
    width: 90%;
    max-width: 450px;
    display: flex;
    list-style: none;
    padding: 0;
}

.dispList >li {
    border: 1px solid #000;
}

.dispList >li img {
    width: 100%;
}

.lvArea {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.playerType {
    font-weight: bold;
}
