.descDefList dd{
	margin-bottom: 1em;
	margin-left: 1em;
}

.descDefList {
	margin-left: 1em;
}

main {
	padding-left:0.5em;
}

img:not(.iconGraph){
	border: solid 1px #000;
	max-width: 480px;
	width: 80%;
	margin-left: 20px;
	margin-bottom: 10px;
}


@media screen and (max-width: 400px) {
	img {
		width: 95%;
	}
}



section {
	margin-bottom: 2em;
}

.sectionHeader {
	font-size: 1.5em;
	border-bottom: solid 1px #aaa;
}

p {
	margin-left: 1em;
}

.contentHeader {
	background-color: burlywood;
	color: #333;
	margin-left: 0;
}

.dlTitle {
	margin-bottom: 0;
}

.defList {
	margin-left: 2em;
}

.defList dd {
	margin-left: +1em;
}

