
.abHr {
	border-color: #aaaaaa;
	margin: 5px 10px 15px 0px;
}

h2 {
	margin-left: 0.5em;
}

section {
	margin-left: 1em;
	margin-bottom: 2em;
}


i {
	margin-right: 5px;
}

.despBox {
	background-color: beige;
	border: solid 1px #ccc;
	max-width: 640px;
	width: 90%;
}

.despBox header {
	border-bottom: dashed 1px #888;
}


.despBox header, .despBox article {
	padding-left: 0.5em;
}

.despBox header a i {
	color:#000000;
}

.despArticle {
	margin-left: 1em;
}

.contactArticle {
	margin-left: 1em;

}
.contactMessage {
	margin-left: 1em;
	margin-top: 10px;
}

.secHeader {
	font-size: 1.2em;
}

.linkList dt:before {
	content: "・"
}

.linkList dd {
	padding-left: 1em;
	margin-bottom: 1em;
}

