html {
	height: 100%;
}
body {
	background: #fff9eb;
	height: 100%;
	font-family:'Meiryo UI';
}

body > header, main, body > footer {
	max-width: 960px;
	margin: 0 auto;
}

main {
	background: #fff;
	padding-top: 0.5em;
	padding-bottom: 1em;
	min-height: 90%;
}

footer {
	text-align: center;
	font-style: italic;
	font-size: 0.7em;
	background-color:#000000;
	color:#ffffff;
}

header.pageHeader h2 {
	margin-top: 0;
	font-size: 2em;
}


header.pageHeader i {
	margin-right: .2em;
}

header.pageHeader > h2 {
	margin-left: 0.2em;
}


.flex-container {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items:stretch;
}


.title {
	font-size:80vw;
}

.navbar {
	margin-bottom: 0px;
}


table.modern{
	border: 2px #000000 solid;
	border-collapse:collapse;
}

table.modern td, table.modern th {
	border: 1px #000000 solid;
}

table.modern tr td {
	/*	padding: 1px;*/
	white-space: nowrap;
}

table.modern th {
	background: #000000;
	color: #ffffff;
	border-color:#ffffff;
	text-align: center;
}


img.iconGraph {
	width: 1em;
	margin-right: .2em;
}

i.iconGraph {
	width: 1.2em;
	margin-right: .2em;
	text-align: center;
}

.abHr {
	border-color: #aaaaaa;
	margin: 5px 0px 15px 0px;
}

.hiddenDisplay {
	display: none;
}
