section {
	margin-bottom: 2em;
}

main header > h1 {
	margin: 0;
	margin-bottom: 0.5em;
	text-align: center;
	font-size: 6vw;
	font-family: 'MS PGothic';
	font-weight: bold;
	text-shadow:
		1px 1px #fff,
		-1px 1px #fff,
		1px -1px #fff,
		-1px -1px #fff,
		4px 4px 6px #aaa;
}


/*スライドショー部分*/
.swiper-container {
	width: 90%;
	height: 300px;
	margin-bottom: 2em;
}

.slideBoard {
	background-color:#fff;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto 80%;
	border: 1px solid #ccc;
	border-radius: 8px;
}


.slideBatter {
	background-image: url(../img/menu001.png);
}

.slidePitcher {
	background-image: url(../img/menu002.png);
}


.slideCalcAssessment {
	background-image: url(../img/menu003.png);
}


.slideCalcMoney {
	background-image: url(../img/menu005.png);
}


.slideLimitOpen {
	background-image: url(../img/menu006.png);
}

.slideDeckShare {
	background-image: url(../img/menu007.png);
}

.slideQuiz {
	background-image: url(../img/menu008.png);
}

.slideAlpha {
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	position: relative;
}

.slideContents {
	width: 70%;
	position: absolute;
	right: 0;
}

.slideSummary {
	text-shadow:
		1px 1px #fff,
		-1px 1px #fff,
		1px -1px #fff,
		-1px -1px #fff;
}

@media screen and (max-width:480px) {
	.slideSummary {
		font-size: 0.9em;
	}
}

.slideContents header {
	font-size: 3em;
}

.slideLinkArea {
	margin-top: 2vw;
}

.btn-warning {
	box-shadow: 3px 3px 3px rbga(0, 0, 0, 0.4);
	color: #444;
}

@media screen and (max-width:600px) {
	.swiper-container {
		width: 95%;
		height: 50vw;
	}

	.slideContents {
		width:75%;
	}

	.slideContents header {
		font-size: 7vw;
	}

	.swiper-button-prev,
	.swiper-button-next {
		background-size: 18px 29px;
	}
}

/****************************************/


.simuMain {
	text-align: center;
}


.mainImage {
	width:90%;
	max-width: 240px;
	border: none;
}

#mainMenu > div{
	width:50%;
}


.mainLink {
	font-size: 5vw;
}

@media screen and (min-width: 960px){
	main {
		width: 960px;
	}

	.siteTitle {
		font-size: calc(960px / 16);
	}

	.mainLink {
		font-size: calc(960px / 20);
	}
}

.categoryTitle {
	background-color: #000;
	color:#fff;
	font-size: 1.5em;
	margin-top: 1em;
	padding-left: 0.5em;
}



.otherMenu > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.otherMenu > ul > li {
	width: 33.33333%;
	height: 180px;
	font-size: 1.3em;
}

.otherMenu > ul > li:nth-child(odd) {
	background-color: aliceblue;
}

.otherMenu > ul > li:nth-child(even) {
	background-color: antiquewhite;
}

.menuIcon {
	font-size: 4em;
	text-align: center;
	height: 70%;
}

.menuIcon a {
	display: flex;
	justify-content: center;
	align-items: center;
	widows: 100%;
	height: 100%;
}

.menuIcon i {
	position: relative;
	top: 3px;
}

.menuIcon img {
	width: auto;
	height: auto;
	max-width: 90%;
	height: 90%;
}

.menuIcon a:link,
.menuIcon a:visited,
.menuIcon a:hover,
.menuIcon a:active {
	text-decoration: none;
	color:#000;
}

.menuTitle {
	text-align: center;
	height: 30%;
}


@media screen and (max-width: 600px){
	.otherMenu > ul > li {
		width: 100%;
		height: 22vw;
		display: flex;
	}

	.menuIcon {
		font-size: 15vw;
		width: 30%;
		height: 100%;
	}

	.menuTitle {
		font-size: 5vw;
		width: 70%;
		height: 100%;
		text-align: left;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
	}

}





div.historiesRecord {
	overflow:auto;
	width:70%;
	min-width: 300px;
	height:150px;
	padding:5px;
	border:2px dotted #000000;
	line-height:1.5em;
	margin: auto;
	text-align: left;
}

@media screen and (max-width: 320px) {
	div.histories {
		width: 90%;
		min-width: 0px;
	}
}

dl.historyList {
	margin-top: 5px;
}


dl.historyList dt {
	padding-left:5px;
	width:130px;
	/* 左寄せ */
	float : left;
	/* float解除 */
	clear : both;
}

dl.historyList dd {
	/* dtの幅分の設定 */
	white-space: nowrap;
	margin-left : 135px;
}

dl.historyList dt, dl.historyList dd {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}


.newItem:after {
	content: 'New';
	margin-left: 0.5em;
	color: #f00;
	animation: newItem 1s step-end infinite;
}

/* アニメーション */
@keyframes newItem{
	50%{
		opacity: 0;
	}
}


.historiesHeader {
	width:70%;
	min-width: 300px;
	margin: auto;
	text-align: left;
	font-size: 1.2em;
}
